# 排除海康SDK库文件
server/lib/lib/CH-HCNetSDKV6.1.9.48_build20230410_linux64_20251013160308/
server/lib/lib/MediaPlayControl_V7.3.7.44_linux64_20250617141330/
server/lib/lib/*.so*
server/lib/lib/*.xml

# 排除其他不需要的文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg